.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    gap: 2rem;
    padding: 2rem 10rem;
}

.start-menu__player-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player-list-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 8px;
}