.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    color: black;
    border-radius: 8px;
    font-size: 1rem;
}