.player {
   height: 100%;
   width: 100%;
   border-radius: 50%;
   position: absolute;

   /* Bubble-like gradient */
   background: radial-gradient(
      circle at 50% 55%,
      rgba(var(--player-color), 0.9),
      rgba(var(--player-color), 0.9) 40%,
      rgba(var(--player-color), 0.8) 60%,
      rgba(var(--player-color), 0.4)
   );

   /* Player animation */
   will-change: transform;
}

/* Small white reflection at the top of the model */
.player::before {
   content: '';
   position: absolute;
   top: 5%;
   left: 10%;
   width: 80%;
   height: 80%;
   border-radius: 50%;
   background: radial-gradient(
      circle at 50% 80%,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 74%,
      white 80%,
      white 84%,
      rgba(255, 255, 255, 0) 100%
   );
   z-index: 2;
}

/* Extra shine at the top of the bubble*/
.player::after {
   content: '';
   position: absolute;
   top: 1%;
   left: 5%;
   width: 90%;
   height: 90%;
   border-radius: 50%;
   background: radial-gradient(
      circle at top,
      white,
      rgba(255, 255, 255, 0) 58%
   );
   filter: blur(5px);
   z-index: 2;
}

.bubble-idle-animation-1 {
   animation-name: bubbleIdle;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.bubble-idle-animation-2 {
   animation-name: bubbleIdle;
   animation-duration: 2.2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.bubble-idle-animation-3 {
   animation-name: bubbleIdle;
   animation-duration: 1.8s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.bubble-idle-animation-4 {
   animation-name: bubbleIdle;
   animation-duration: 2.3s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes bubbleIdle {
   0% {
      transform: scaleX(0.9) scaleY(0.9);
   }

   33% {
      transform: scaleX(0.97) scaleY(0.83);
   }

   66% {
      transform: scaleX(0.83) scaleY(0.97);
   }

   100% {
      transform: scaleX(0.9) scaleY(0.9);
   }
}

.player-ninja {
}

.player-wizard {
}

.player-robot {
}

.player-monkey {
}

/* Player Hand */
.player-hand {
   position: absolute;
   font-size: 50cqw;
   bottom: 5%;
   right: 5%;
   margin: -10cqw;

   /* Hand animation */
   animation: handIdle 2s ease-in-out infinite;
   will-change: transform;
}

@keyframes handIdle {
   0% {
      transform: translateY(0%);
   }

   66% {
      transform: translateY(10%);
   }

   100% {
      transform: translateY(0%);
   }
}

.hand-idle-animation-1 {
   animation-name: handIdle;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.hand-idle-animation-2 {
   animation-name: handIdle;
   animation-duration: 2.2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.hand-idle-animation-3 {
   animation-name: handIdle;
   animation-duration: 1.8s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.hand-idle-animation-4 {
   animation-name: handIdle;
   animation-duration: 2.3s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
