.player {
   height: 100%;
   width: 100%;
   border-radius: 50%;

   /* Approved gradient */
   background: radial-gradient(
      circle,
      rgba(var(--player-color), 0.4) 30%,
      rgb(var(--player-color)) 120%
   );

   /* Alternate gradient
   background: radial-gradient(
      circle,
      rgba(var(--player-color), 0.6) 20%,
      rgba(var(--player-color), 0.8) 60%,
      rgb(var(--player-color)) 70%
   );
   */
   will-change: transform;
}

.bubble-idle-animation-1 {
   animation-name: bubbleIdle;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.bubble-idle-animation-2 {
   animation-name: bubbleIdle;
   animation-duration: 2.2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.bubble-idle-animation-3 {
   animation-name: bubbleIdle;
   animation-duration: 1.8s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.bubble-idle-animation-4 {
   animation-name: bubbleIdle;
   animation-duration: 2.3s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes bubbleIdle {
   0% {
      transform: scaleX(0.9) scaleY(0.9);
   }

   33% {
      transform: scaleX(0.97) scaleY(0.83);
   }

   66% {
      transform: scaleX(0.83) scaleY(0.97);
   }

   100% {
      transform: scaleX(0.9) scaleY(0.9);
   }
}

.player-ninja {
}

.player-wizard {
}

.player-robot {
}

.player-monkey {
}
